//====================================================================================================

.hero {
    width: 100%;
    background-color: $accentColor;

    // .hero__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
    }


                &__container::after {
                    background: url(@img/hero/01.jpeg);
                    content: "";
                    position: absolute;
                    width: 200%;
                    top: 0;
                    left: 55%;
                    height: 100%;
                    flex: 0 1 70%;
        }

    // .hero__content

    &__content {
        flex: 1 1 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 30%;
        
    }

    // .hero__title

    &__title {
        @include adaptiveValue("margin-bottom", 30, 12);
        @include adaptiveValue("margin-top", 200, 50);
    }

    // .hero__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 1,6;
        @include adaptiveValue("max-width", 376, 100);
        @include adaptiveValue("margin-bottom", 67, 18);

    }

        &__button {
            @include adaptiveValue("margin-bottom", 312, 50);
        }

    // .hero__image-ibg

    &__image {
        width: 100%;
        flex: 70%;
    }
}
//====================================================================================================
